// @import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

.topbar {
  width: 100vw;
  height: 15vh;
  opacity: 0/5;
  display: flex;
  // font-size: 0.5rem;
  justify-content: space-between;
  color: #163020;
  background-color: #b6c4b610;
  max-width: 100%;
  position: fixed;
  align-items: center;
  z-index: 100;
}

.div1 {
  width: 20vw;
  height: 12vh;
  margin-left: 10px;
}

.div2 {
  width: 20vw;
  height: 12vh;
  font-weight: bolder;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #638889;
  cursor: pointer;
  font-family: 'Grandiflora One';

  a {
    text-shadow: 0 0 5px #d5f5f6;
    color: #163020;
    text-decoration-line: none;

    &:hover {
      text-shadow: 0 0 .1em, 0 0 .3em;/* 텍스트에 빛 효과 추가 */
    }
  }
}

.div3 {
  width: 20vw;
  height: 12vh;
  color: #163020;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  p {
    width: 16vw;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    font-weight: 800;
    text-align: center;
  }

  a,
  button {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef0e59c;
    color: #18271d;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: 0;

    &:hover {
      background-color: #F1EFEF;
      color: #18271d;
    }
  }
}


.link {
  text-decoration: none;
  color: white;
  margin-left: 2vw;
}